@model ICollection<Models.RequestAssignement>
@{
    ViewData["Title"] = "ListRequest";
}

<div class="content">
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                    <th>Convalidato</th>
                </tr>
            </thead>

            <tbody>
                @using (Html.BeginForm("ListRichAccount", "Transfer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @foreach (var person in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => person.Request.Name)</td>
                            <td>@Html.DisplayFor(item => person.From)</td>
                            <td>@Html.DisplayFor(item => person.To)</td>
                            <td>
                                @if (person.IsValid)
                                {
                                    <a>Confermato</a>
                                }
                                else
                                {
                                    <a>In attesa</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Account</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                    <th>Convalidato</th>
                </tr>
            </tfoot>
        </table>
    </div>
   
</div>




