@model List<System.Security.Claims.Claim>
@using Vap.Extensions
@{
    ViewData["Title"] = "Index";
}


<section class="content">
    <div class="row">


        <section class="content">
            <div class="row">
                
                @*@{
                    Html.RenderPartial("~/Views/Context/Area.cshtml");
                    Html.RenderPartial("~/Views/Home/Contact.cshtml");
                }*@



            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
        <!-- ./wrapper -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</div>
    </section>